In [12]:
import pandas as pd
import cPickle as pickle

In [28]:
scores=pd.read_csv("Assignment 3 Sentiment Scores (2).csv")
reviews=pd.read_csv("Assignment 3 Edmunds Posts.csv", usecols=[0])
data=scores.join(reviews)

In [29]:
data.ix[0]

ES                                                       NaN
LS                                                       NaN
RX                                                         4
A8                                                         3
A6                                                       NaN
3series                                                  NaN
5series                                                  NaN
7series                                                    5
XJ                                                         2
Sclass                                                     1
Posts      "As a Mercedes fan, I was sad, but I knew that...
Name: 0, dtype: object

In [78]:
Lexus = ['ES', 'LS', 'RX']
Audi = ['A8','A6']
BMW = ['3series','5series','7series']
Jaguar = ['XJ']
Mercedes = ['Sclass']

marques = {'ES': 'Lexus','LS':'Lexus','RX':'Lexus','A8':'Audi', 'A6': 'Audi',\
           '3series': 'BMW', '5series':'BMW', '7series': 'BMW', 'XJ': 'Jaguar', 'Sclass':'Mercedes', 'Posts':'Posts'}

index = pd.MultiIndex.from_tuples(marques.items(), names=['model', 'make'])

data_multiindex=data.transpose()

data_multiindex.index.names=['model']

data_multiindex['mark']=pd.Series(marques)

data_multiindex.set_index(['mark'], append=True, inplace=True)

data_multiindex.index=data_multiindex.index.swaplevel(0,1)

dataT=data_multiindex.transpose()

dataT

mark  Lexus           Audi          BMW                 Jaguar Mercedes  \
model    ES   LS   RX   A8   A6 3series 5series 7series     XJ   Sclass
0       NaN  NaN    4    3  NaN     NaN     NaN       5      2        1
1       NaN  NaN    3    2    2       2       2       2    NaN      NaN
2       NaN    4  NaN  NaN  NaN       3     NaN       3    NaN        3
3       NaN    2  NaN    2  NaN     NaN     NaN       2      4        2
4       NaN    3    3  NaN  NaN     NaN       2     NaN    NaN        3
5       NaN  NaN  NaN    1  NaN     NaN     NaN       3      4        3
6       NaN    2  NaN    3  NaN     NaN     NaN       4     -1        3
7       NaN  NaN  NaN    3  NaN     NaN     NaN       1      4        2
8       NaN    2  NaN    4    3      -2     NaN     NaN    NaN        3
9       NaN    4  NaN    2  NaN     NaN     NaN       2    NaN        2
10      NaN    2  NaN    4    2       2     NaN     NaN    NaN      NaN
11      NaN  NaN  NaN    5    5     NaN     NaN     NaN    NaN      NaN
12        5  NaN    5  NaN  NaN     NaN     NaN     NaN    NaN      NaN
13        2  NaN  NaN  NaN  NaN     NaN     NaN       3    NaN        4
14      NaN  NaN  NaN    5    4     NaN     NaN     NaN    NaN      NaN
15      NaN    3  NaN    2  NaN     NaN     NaN     NaN      2        2
16        2    3  NaN  NaN    4     NaN     NaN     NaN    NaN      NaN
17      NaN  NaN  NaN    4  NaN     NaN     NaN     NaN    NaN        4
18        2    2  NaN    2  NaN      -1      -1      -1      2        3
19      NaN    4  NaN    1  NaN     NaN     NaN       1      1        1
20      NaN  NaN    4    2    2     NaN     NaN     NaN    NaN      NaN
21        3    3  NaN   -3   -3       2       2       2    NaN        2
22      NaN    5  NaN    1  NaN     NaN     NaN     NaN    NaN        2
23      NaN    4  NaN    2  NaN     NaN     NaN       2    NaN      NaN
24      NaN    1  NaN    3  NaN     NaN     NaN       1    NaN        3
25      NaN   -2  NaN    3  NaN     NaN     NaN       2      2        3
26      NaN    2  NaN    2  NaN     NaN     NaN       2    NaN        2
27      NaN    4  NaN  NaN  NaN     NaN     NaN       2    NaN        2
28      NaN  NaN  NaN    3  NaN     NaN     NaN     NaN      4        1
29      NaN  NaN  NaN    4    4     NaN     NaN     NaN    NaN      NaN
..      ...  ...  ...  ...  ...     ...     ...     ...    ...      ...
458     NaN    1  NaN  NaN  NaN     NaN     NaN     NaN    NaN       -4
459       1  NaN  NaN  NaN  NaN     NaN     NaN     NaN    NaN       -4
460     NaN  NaN  NaN   -1  NaN     NaN     NaN      -2    NaN      NaN
461     NaN   -1  NaN   -2  NaN     NaN     NaN     NaN    NaN      NaN
462     NaN  NaN  NaN   -3  NaN     NaN     NaN     NaN    NaN      NaN
463     NaN    1  NaN  NaN  NaN     NaN     NaN     NaN    NaN       -4
464     NaN  NaN  NaN  NaN   -1     NaN     NaN     NaN     -2      NaN
465     NaN   -2  NaN  NaN  NaN     NaN     NaN      -1    NaN      NaN
466     NaN   -5  NaN    2  NaN     NaN     NaN     NaN    NaN      NaN
467     NaN  NaN  NaN   -1   -2     NaN     NaN     NaN    NaN      NaN
468     NaN   -1  NaN  NaN  NaN     NaN     NaN     NaN    NaN       -2
469     NaN   -3  NaN   -1  NaN     NaN     NaN     NaN    NaN      NaN
470     NaN  NaN  NaN   -2   -2     NaN     NaN     NaN    NaN      NaN
471     NaN  NaN  NaN  NaN  NaN     NaN     NaN     NaN    NaN       -4
472     NaN   -5  NaN  NaN  NaN     NaN     NaN     NaN    NaN        1
473     NaN   -5  NaN  NaN  NaN       1     NaN     NaN    NaN      NaN
474     NaN   -5  NaN  NaN  NaN     NaN       1     NaN    NaN      NaN
475     NaN   -5  NaN  NaN  NaN     NaN     NaN       1    NaN      NaN
476      -1  NaN  NaN  NaN  NaN     NaN     NaN     NaN    NaN       -3
477     NaN  NaN   -1   -3  NaN     NaN     NaN     NaN    NaN      NaN
478     NaN   -1  NaN  NaN  NaN     NaN     NaN     NaN    NaN       -3
479     NaN   -2  NaN  NaN  NaN     NaN     NaN     NaN    NaN       -2
480      -2  NaN  NaN  NaN  NaN     NaN     NaN      -2    NaN      NaN
481     NaN  NaN  NaN   -2  NaN     NaN     NaN     NaN     -2      NaN
482     NaN   -3  NaN  NaN   -2     NaN     NaN     NaN    NaN      NaN
483     NaN   -5  NaN  NaN  NaN     NaN     NaN     NaN    NaN      NaN
484     NaN   -5  NaN  NaN  NaN     NaN     NaN     NaN    NaN      NaN
485     NaN  NaN  NaN  NaN  NaN     NaN     NaN      -5    NaN       -2
486     NaN   -5  NaN   -2  NaN     NaN     NaN     NaN    NaN      NaN
487     NaN   -4  NaN   -4  NaN     NaN     NaN     NaN    NaN      NaN

mark                                               Posts
model                                              Posts
0      "As a Mercedes fan, I was sad, but I knew that...
1      "By the way the new GS, next lsand new $150K s...
2      "Come now, does anyone really believe that wha...
3      The success of the LexusES does prove that, at...
4      Which still didn't amount to beating their com...
5      ..but I wonder how many employees are secure e...
6      "Do you think that if Mercedes went back to th...
7      "How 'bout Jaguar, Phaeton, Acura, Ferrari, AM...
8      "I don't understand what Audi is going to do y...
9      "I'll bet most critics of an LexusLS have neve...
10     "I'm afraid that is true of a lot of cars so w...
11     "I'm comparing top end Acura (Legend before, R...
12     "I've always been curious about something, why...
13     "If you, Merc1, can find a BMW cue in the new ...
14     "It is not a car that likes to be pushed and I...
15     "First you have a $63k SUV that is at least a ...
16     "It's a 50-50 lease/buy relationship. Where I ...
17     "Let's not forget that Toyota is #2 in worldwi...
18     "Likely much ado about nothing if the prices L...
19     "MB has certainly innovated in 120 years far m...
20     "merc1 - couldn't agree with you more on the M...
21     "merc1 - you should note that an SClass is no ...
22     "For MB, US sales position have changed from #...
23     "Now that the S350 is available at dealers, we...
24     "On the other hand Merc can afford the C-class...
25     "Really ? Maybe I missed something... but its ...
26     "So who needs an expensive LexusLS, 745, SClas...
27     "Frankly, if Lexus didn't have the LexusLS, pe...
28     "Most buyers just want a mid-sized sedan with ...
29     "Sorry but it seemed to me that you had been d...
..                                                   ...
458                                                  NaN
459                                                  NaN
460                                                  NaN
461                                                  NaN
462                                                  NaN
463                                                  NaN
464                                                  NaN
465                                                  NaN
466                                                  NaN
467                                                  NaN
468                                                  NaN
469                                                  NaN
470                                                  NaN
471                                                  NaN
472                                                  NaN
473                                                  NaN
474                                                  NaN
475                                                  NaN
476                                                  NaN
477                                                  NaN
478                                                  NaN
479                                                  NaN
480                                                  NaN
481                                                  NaN
482                                                  NaN
483                                                  NaN
484                                                  NaN
485                                                  NaN
486                                                  NaN
487                                                  NaN

[488 rows x 11 columns]